// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4, h5, h6 {
  font-family: "Yeseva One", monospace;
}

.centered {
  text-align: center;
}


#productPrice {
  font-weight: 700;
}

.productImage {
 max-height: 238px;
}

.newProduct {
  border: 1px solid black;
  margin: auto;
  width: 500px;
}

.field {
  margin-left: 50px;
}

.field>.formField, .formLabel {
  display: inline-block;
}
